###########################################
#IGNORE FILES WITHOUT EXTENSIONS
#
#THANKS TO Mad Physicist FROM STACKOVERFLOW
###########################################

#ignore everything

*

#unignore anything that is a directory

!*/

#unignore all files with extensions

!*.*

###########################################
#IGNORE THESE EXTENSIONS
###########################################

#ignore object files

*.o
